
<ul class="list-group" *ngIf="roomsList" style="overflow-y: scroll; height: 500px;">
    <li *ngFor="let room of roomsList" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="modal modal-fade" [attr.id]="normalizeString(room.id)" tabindex="-1" role="dialog" [attr.aria-labelledby]="normalizeString(room.id)" aria-hidden="true"  data-backdrop="false">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" [attr.id]="room.id"> Wprowadź hasło </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body justify-content-between">
              <input type="password" class='inputwidth' [(ngModel)]="passwordValue" placeholder="Wprowadź hasło"/>
              <button type="button" class="btn btn-primary okbtn" data-dismiss="modal" aria-label="Close" (click)='passwordCheck(room)'>OK</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ room.voteInfo.question }}</h5>
        <small>Stworzony: {{ room.createdOn.toDate() | date: 'dd/MM/yyyy, HH:mm' }}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">{{ room.access.roomName }}</p>
        <small>Koniec: {{ room.endDate.toDate() | date: 'dd/MM/yyyy' }}</small>
      </div>

      <div class="row">
      <span class="badge badge-default ml-3 mr-3" *ngIf="isVoteOver(room)">Zakończone</span>
      <span class="badge ml-3 mr-3" [ngClass]="getAnswerColor(userAnswered(room))" *ngIf="userAnswered(room)"> {{ userAnswered(room) }} </span>
      <button class="btn btn-primary btn-sm ml-3 mr-3" *ngIf="!isUserLogged(room) && !isVoteOver(room)" data-toggle="modal" [attr.data-target]="'#' + normalizeString(room.id)"> Dołącz </button>
      <button class="btn btn-primary btn-sm ml-3 mr-3" *ngIf="isUserLogged(room) && !userVoted(room) && !isVoteOver(room)" (click)="navigateToDetails(room)"> Głosuj </button>

    </div>

    </li>
  </ul>

