<div class="container">
  <div class="list-container">
    <div class="card-body">Wszystkie pokoje głosowań:</div>

    <div ngbDropdown>
      <button class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Sortuj:</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="orderAllBy('asc')">Od najstarszych</button>
        <button ngbDropdownItem (click)="orderAllBy('desc')">Od najnowszych</button>
      </div>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="searchAllRooms" (ngModelChange)="searchStringAllChanged($event)" placeholder="SZUKAJ NAZWY POKOJU" class="form-control" style="width: 100%; display: inline-block;"/>
    </div>

    <div class="card">
      <app-all-list></app-all-list>
    </div>
  </div>

  <div class="list-container">
    <div class="card-body">Pokoje głosowań stworzone przez Ciebie:</div>

    <div ngbDropdown>
      <button class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Sortuj:</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="orderBy('asc')">Od najstarszych</button>
        <button ngbDropdownItem (click)="orderBy('desc')">Od najnowszych</button>
      </div>
    </div>

    <div class="form-group">
        <input type="text" [(ngModel)]="searchRooms" (ngModelChange)="searchStringChanged($event)" placeholder="SZUKAJ NAZWY POKOJU" class="form-control" style="width: 100%; display: inline-block;"/>
      </div>

    <div class="card">
      <div *ngIf="user">
        <app-user-list></app-user-list>
      </div>
    </div>
  </div>
</div>
