html, body{
    overflow: auto;
}

$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;


.container {
    width: 100%;
    overflow: auto;
}

.list-container {
    width: 40%;
    margin: 5%;
    display:inline-block;
    @media only screen and (max-width: 960px){
        display: block;
        width: 80%;
        margin: 5%;
    }

}



