<div class="container">
  <div class="justify-content-center">
    <form [formGroup]="createForm">
      <input type="text" placeholder='Wprowadź nazwę pokoju' formControlName='roomName'
        class='form-control col-sm-12 col-md-12 mt-12'> <br>
        <div class="form-group has-danger" *ngIf="roomName.invalid && roomName.touched">
          <input type="text" value="Nazwa pokoju musi składać się z conajmniej 4 znaków" class="form-control form-control-danger">
        </div>

      <input type="password" placeholder='Ustaw hasło' formControlName='password'
        class='form-control col-sm-12 col-md-12 mt-12'> <br>
        <div class="form-group has-danger" *ngIf="password.invalid && password.touched">
          <input type="text" value="Hasło musi zawierać conajmniej 4 znaki" class="form-control form-control-danger">
        </div>

      <input type="text" placeholder="Jakie jest pytanie ?" formControlName='question'
        class='form-control col-sm-12 col-md-12 mt-12'> <br>
        <div class="form-group has-danger" *ngIf="question.invalid && question.touched">
          <input type="text" value="Pytanie nie może być puste" class="form-control form-control-danger">
        </div>

      <div class="col-sm-12 col-md-12 mt-12">
        <div class="form-group">
          <input class="form-control datetimepicker" placeholder="Data zakończenia głosowania" formControlName="endDate" name="dp"
            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        </div>
        <div class="form-group has-danger" *ngIf="question.invalid && question.touched">
          <input type="text" value="Wybierz datę zakończenia głosowania" class="form-control form-control-danger">
        </div>
      </div>
    </form>


    <button type="submit" [disabled]="!createForm.valid || isSaving" (click)="saveQuestion()"
      class="btn btn-primary btn-round">Stwórz <i class="lni-check-mark-circle"></i></button>

    </div>
</div>