<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">
        VoteSystem
      </a>
    </div>

    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-sm">Kontakt</a>

          <div class="modal modal-primary fade bd-example-modal-sm" tabindex="-1" role="dialog"
            aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content links p-4">
                <button class="btn btn-github">
                  <a href="https://github.com/dodziak" target="_blank">
                    <i class="lni lni-git"></i> Gitlab
                  </a></button>

                <button class="btn btn-google">
                  <a href="https://mail.google.com" target="_blank">
                    <i class="lni-envelope"></i>Gmail: kozlowskidominik6@gmail.com
                  </a></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
