<div class="row">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
        <div class="form-group text-center" style="top: 30%">
            <h2>Vote System</h2>
            <button class="btn btn-primary btn-round" (click)="login()">
                <span>
                    Zaloguj za pomocą konta Google <i class="lni-google ml-2"></i>
                </span>
            </button>
        </div>
    </div>
</div>
