<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <button type="button" class="btn btn-primary" [routerLink]="['/create']"
        routerLinkActive="router-link-active">Nowy pokój</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" [routerLink]="['/list']"
      routerLinkActive="router-link-active">Lista głosowań</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-primary" style="padding: 11px 15px;" [routerLink]="['/results']"
      routerLinkActive="router-link-active">Twoje głosowania</button>
    </li>

    <li class="nav-item">
      <button (click)="signout()" class="btn btn-danger btn-round">Wyloguj <i class="lni-exit"></i></button>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
