.container {
    width: 100%;
    margin-top: 5%;
    display: center;
    overflow: auto;
}

.ordersearch-container {
width: 50%;
margin: 0 auto;
@media only screen and (max-width: 672px){
    width: 100%;
}
}

ul {
    width: 50%;
    margin:0 auto;
    @media only screen and (max-width: 672px){
        overflow: auto;
        width: 100%;
    }
}

.searchinput {
    width:100%;
    margin: 0 auto;

}