<div *ngIf="user">
  <div class="container">

    <div class="ordersearch-container">
      <div class="card-body" style="padding: 0px;">Wyniki głosowań, w których brałeś udział:</div>

      <div ngbDropdown>
        <button class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Sortuj:</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="orderBy('asc')">Od najstarszych</button>
          <button ngbDropdownItem (click)="orderBy('desc')">Od najnowszych</button>
        </div>
      </div>


      <div class="form-group">
        <input type="text" [(ngModel)]="searchResultRooms" (ngModelChange)="searchStringChanged($event)"
          placeholder="SZUKAJ NAZWY POKOJU" class="form-control searchinput" />
      </div>
    </div>


    <div class="list-container">
      <ul class="list-group" *ngIf="roomsList" style="overflow-y: auto; height: 500px;">


        <li *ngFor="let room of roomsList" class="list-group-item list-group-item-action flex-column align-items-start">

          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ room.voteInfo.question }}</h5>
            <small>Stworzony: {{ room.createdOn.toDate() | date: 'dd/MM/yyyy, HH:mm' }}</small>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ room.access.roomName }}</p>
            <span class="badge badge-default ml-3 mr-3" *ngIf="isVoteOver(room)">Zakończone</span>
            <small>Koniec: {{ room.endDate.toDate() | date: 'dd/MM/yyyy' }}</small>
          </div>

          <div class="row justify-content-between">
            <span class="badge badge-danger ml-3 mr-3">Nie: {{ countNo(room) }}</span>
            <span class="badge badge-warning ml-3 mr-3">Wstrzymane: {{ countHold(room) }} </span>
            <span class="badge badge-success ml-3 mr-3">Tak: {{ countYes(room) }}</span>
          </div>

          <div class="row justify-content-between">
            <span class="badge badge-primary ml-5">Oddano głosów: {{ countHold(room) + countNo(room) + countYes(room) }}/{{ countUsers(room) }}</span>
            <span class="badge ml-3 mr-3" [ngClass]="getAnswerColor(userAnswered(room))" *ngIf="userAnswered(room)"> {{ userAnswered(room) }} </span>
          </div>

        </li>

      </ul>
    </div>



  </div>
</div>
