<div class="container">
  <div *ngIf="docRef && roomDetails as room">


    <blockquote class="blockquote">

      <div class="text-center">
        <h5>{{ room.voteInfo.question }}</h5>
        <footer class="blockquote-footer"><cite title="Source Title">{{ room.access.roomName }} </cite></footer>
      </div>

      <div class="row justify-content-between" style="margin: 15px;">
        <h6>Stworzony: {{ room.createdOn.toDate() | date: 'dd/MM/yyyy, HH:mm' }}</h6>
        <h6>Koniec: {{ room.endDate.toDate() | date: 'dd/MM/yyyy' }}</h6>
      </div>

      <h6 class="text-center numbervotes">Liczba głosów:</h6>

      <div class="row justify-content-between results">
        <span class="badge badge-success"> Tak: {{ yesVoteAmount }} </span>
        <span class="badge badge-warning mr-2 ml-2"> Głosy wstrzymane: {{ holdVoteAmount }} </span>
        <span class="badge badge-danger"> Nie: {{ noVoteAmount }} </span>
      </div>

      <div class="row">
        <div class="alert alert-primary rounded-pill votes">Oddano głosów: {{ yesVoteAmount + holdVoteAmount + noVoteAmount}}/{{ usersAmount }}</div>
      </div>

      <div class="row justify-content-between votebuttons">
        <button type="button" class="btn btn-success btncenter" (click)='voteYes()' *ngIf="!isVotingOver">Zagłosuj na tak</button>
        <button type="button" class="btn btn-warning btncenter" (click)='voteHold()'  *ngIf="!isVotingOver">Wstrzymaj się</button>
        <button type="button" class="btn btn-danger btncenter" (click)='voteNo()'  *ngIf="!isVotingOver">Zagłosuj na nie</button>
      </div>

      <div class="row">
      <div class="alert alert-danger rounded-pill ifover" *ngIf="isVotingOver"> Głosowanie zakończone ! </div>
      </div>

      <div class="row justify-content-between ml-5 mr-5">
        <button type="button" class="btn btn-default btncenter" (click)="backToList()">Wróć do listy</button>
        <button type="button" class="btn btn-danger btncenter" (click)="exitRoom()">Wyjdź z pokoju</button>
      </div>
    </blockquote>
  </div>
  </div>
