html, body{
    overflow: auto;
}

.container {
    width: 100%;
}

.results {
margin-left: 10%;
margin-right: 10%;

@media only screen and (max-width: 672px){
    display: block;
    text-align: center;
}
}

.votes {
   margin: 30px auto 15px auto;
}

.numbervotes {
    margin: 15px;
}

.votebuttons {
    margin: 15px 20%;
}

.ifover {
    text-align: center;
    margin: 0px auto 15px auto;
    width: 30%
}

.btncenter {
    @media only screen and (max-width: 672px){
        display: block;
        margin: 5px auto;
    }
}
