
<ul class="list-group" *ngIf="userRoomList" style="overflow-y: scroll; height: 500px;">

    <li *ngFor="let room of userRoomList" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ room.voteInfo.question }}</h5>
        <small>Stworzony: {{ room.createdOn.toDate() | date: 'dd/MM/yyyy, HH:mm' }}</small>
      </div>

      <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">{{ room.access.roomName }}</p>
      <small>Koniec: {{ room.endDate.toDate() | date: 'dd/MM/yyyy' }}</small>
      </div>

      <div class="d-flex w-100 justify-content-between">

        <span class="badge badge-info dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="lni-cog"> </i> </span>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" (click)="deleteRoom(room)">Usuń pokój</button>
            <button class="dropdown-item"(click)="endVoting(room)">Zakończ głosowanie</button>
          </div>

          <span class="badge badge-default" *ngIf="checkDate(room)">Zakończone</span>
          <span class="badge" [ngClass]="getAnswerColor(userAnswered(room))" *ngIf="userAnswered(room)"> {{ userAnswered(room) }} </span>

      </div>
  </li>

</ul>
